<p style="{{ p_style }}">Dear {{ first_name }},</p>
<p style="{{ p_style }}">Thank you for submitting a request to join the <strong>{{ bundle_name }}</strong> Service Bundle. Your request has been received and is currently under review.</p>
<p style="{{ p_style }}"><strong>Bundle requested:</strong> {{ bundle_name }}<br/><strong>Reason provided:</strong> {{ reason }}</p>
<p style="{{ p_style }}">A bundle administrator will review your request. If your request is approved, you will receive a confirmation email with further details.</p>
<p style="{{ p_signoff }}">Thank you,</p>
<p style="{{ p_style }}">BioCommons Access team</p>
