<p style="{{ p_style }}">Dear {{ username }},</p>
<p style="{{ p_style }}">Thank you for your interest in the {{ group_name }} Bundle.</p>
<p style="{{ p_style }}">
    The TSI Bundle available on BioCommons Access is only for members of the
    <a href="https://bioplatforms.com/project/threatened-species/" target="_blank" rel="noopener noreferrer"
       style="{{ a_style }}">Threatened Species Initiative</a>
    consortium.
</p>
<p style="{{ p_style }}">
    Members are collaborators who have projects supported through our request for partnership rounds. They can access
    datasets that are under embargo for the first 12 months following their generation.
</p>
<p style="{{ p_style }}">
    The <a href="https://bioplatforms.com/project/threatened-species/" target="_blank" rel="noopener noreferrer"
           style="{{ a_style }}">Threatened Species Initiative</a>
    is generating genomic resources that are made openly accessible to the community through the Bioplatforms Australia
    data portal. To obtain access to the open access genomics datasets, you only need to register for an account and you
    do not need to apply to the TSI Bundle. This is also the case for datasets of all other initiatives presented on the
    <a href="https://data.bioplatforms.com/all_projects" target="_blank" rel="noopener noreferrer"
       style="{{ a_style }}">Bioplatforms Data Portal</a>.
</p>
<p style="{{ p_style }}">
    Similarly, various tools - including <a href="https://www.biocommons.org.au/fgenesh-plus-plus" target="_blank"
                                            rel="noopener noreferrer" style="{{ a_style }}">FGenesh++</a> and AlphaFold,
    can be directly accessed through <a href="https://site.usegalaxy.org.au/" target="_blank" rel="noopener noreferrer"
                                        style="{{ a_style }}">Galaxy Australia</a> without the need of the TSI Bundle:
</p>
<ul style="{{ ul_style }}">
    <li style="{{ li_style }}"><a href="https://site.usegalaxy.org.au/request/access" target="_blank"
                                  rel="noopener noreferrer" style="{{ a_style }}">Request access to specialist tools</a>
    </li>
</ul>
<p style="{{ p_style }}">Please do not hesitate to reach out to us for any non registration related issues:</p>
<ul style="{{ ul_style }}">
    <li style="{{ li_style }}">
        Bioplatforms Australia Data Portal — <a href="mailto:help@bioplatforms.com" style="{{ a_style }}">help@bioplatforms.com</a>
    </li>
    <li style="{{ li_style }}">
        Galaxy Australia — <a href="https://site.usegalaxy.org.au/request/" target="_blank" rel="noopener noreferrer"
                              style="{{ a_style }}">Galaxy Australia - Help and support</a>
    </li>
    <li style="{{ li_style }}">
        TSI specific enquiries — <a href="mailto:smazard@bioplatforms.com" style="{{ a_style }}">smazard@bioplatforms.com</a>
    </li>
</ul>
<p style="{{ p_signoff }}">Thank you,</p>
<p style="{{ p_style }}">BioCommons Access Team</p>
