<p style="{{ p_style }}">Dear {{ admin_first_name }},</p>
<p style="{{ p_style }}">You have received a new request for access to the {{ bundle_name }} Service Bundle.</p>
<p style="{{ p_style }}">
    <strong>Name:</strong> {{ requester_full_name }}<br/>
    <strong>Email:</strong> {{ requester_email }}<br/>
    <strong>Reason:</strong> {{ reason }}
</p>
<p style="{{ p_style }}">Please log into the BioCommons Access bundle dashboard to review and approve or decline this request.</p>
<p style="{{ p_signoff }}">Thank you,</p>
<p style="{{ p_style }}">BioCommons Access team</p>
