<p style="{{ p_style }}">Hi {{ first_name }}</p>

<p style="{{ p_style }}">
    We noticed a recent attempt to register for a BioCommons Access account by you using the email
    address <strong>{{ incorrect_email }}</strong>
</p>

<p style="{{ p_style }}">
    It looks like there might have been a typo in the signup process that prevented you from receiving
    your verification email, or you used an email address which cannot receive the verification email.
</p>

<p style="{{ p_style }}">
    Since we believe this is your correct address, we wanted to reach out and help you complete
    an account registration.
</p>

<p style="{{ p_style }}">
    If you haven’t already done so, please re-register here using a valid email address.
</p>

<p style="{{ p_center_style }}">
    <a href="{{ register_url }}" style="{{ a_style }}" target="_blank" rel="noopener noreferrer">BioCommons Access registration</a>
</p>

<p style="{{ p_style }}">
    If the button doesn't work, you can copy and paste the URL into your browser.
</p>

<p style="{{ p_center_style }}">
    <code>
        {{ register_url }}
    </code>
</p>

<p style="{{ p_style }}">
    If you have already successfully created an account using a valid email address, please feel free to disregard this message.
</p>

<p style="{{ p_style }}">
    Best regards,<br/>
    BioCommons Access team
</p>
