<p style="{{ p_style }}">Dear {{ first_name }},</p>
<p style="{{ p_style }}">Thank you for your interest in the Structural Biology Platform (SBP) service bundle.</p>
<p style="{{ p_style }}">
    Unfortunately, the SBP bundle is in an early access period and is currently only available to invited users.
    Access will be available after the official service launch in Q1 2027.
</p>
<p style="{{ p_style }}">
    If you believe that your access has been declined in error please submit a ticket to
    <a href="https://biocommons-sbp-help.freshdesk.com/support/tickets/new" target="_blank" rel="noopener noreferrer" style="{{ a_style }}">SBP support</a>.
</p>
<p style="{{ p_signoff }}">Kind regards,</p>
<p style="{{ p_style }}">BioCommons Access team</p>
