    <p style="{{ p_style }}">Hello,</p>
    <p style="{{ p_style }}">The username on your Biocommons Access account was updated by your service administrator.</p>
    <p style="{{ p_style }}">
        <strong>Old username:</strong> {{ old_username }}<br/>
        <strong>New username:</strong> {{ new_username }}</p>
    <p style="{{ p_style }}">
        If you did not expect this change, please visit the <a href="{{ portal_url }}" style="{{ a_style }}" target="_blank" rel="noopener noreferrer">BioCommons Access Portal</a> or contact support.
    </p>
    <p style="{{ p_signoff }}">Thank you,</p>
    <p style="{{ p_style }}">BioCommons Access team</p>
