<p style="{{ p_style }}">Dear {{ first_name }},</p>
<p style="{{ p_style }}">Welcome to your new BioCommons Access account!</p>
<p style="{{ p_style }}">
    <strong><a href="https://www.biocommons.org.au/access" target="_blank"
               rel="noopener noreferrer" style="{{ a_style }}">BioCommons Access</a> is your key to
        unlocking analysis services and research data across the Australian BioCommons ecosystem. A single log in offers
        convenient and secure access to a growing number of services.</strong>
</p>
<p style="{{ p_style }}">
    Consider bookmarking <a href="{{ portal_url }}" target="_blank" rel="noopener noreferrer"
                            style="{{ a_style }}">{{ portal_url }}</a> for future logins. Use the
    BioCommons Access portal to access connected services, update your profile and apply for Service Bundles.
</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: 24px auto;">
    <tr>
        <td align="center">
            <a href="{{ portal_url }}" target="_blank" rel="noopener noreferrer"
               style="display: inline-block; background-color: #171717; color: #ffffff; font-weight: 600; padding: 12px 18px; line-height: 20px; border-radius: 8px; text-decoration: none; font-size: 14px;">BioCommons
                Access Login</a>
        </td>
    </tr>
</table>
<p style="{{ p_style }}">
    The BioCommons Access portal contains links to services including Galaxy Australia and the
    Bioplatforms Australia Data Portal. You can also access these services directly with your BioCommons Access
    credentials.
</p>
<p style="{{ p_style }}">
    You can <a href="https://biocommonsaccess.freshdesk.com/support/home" target="_blank"
               rel="noopener noreferrer" style="{{ a_style }}">access support for your BioCommons Access
    account</a>, or find help related to <a href="https://www.biocommons.org.au/access-existing-users" target="_blank"
                                            rel="noopener noreferrer" style="{{ a_style }}">migrating existing Galaxy Australia
    or Bioplatforms Australia Data Portal accounts</a>.
</p>
<p style="{{ p_style }}">
    To hear when future services come online, as well as relevant training and other ways to
    connect, <a href="https://www.biocommons.org.au/subscribe" target="_blank" rel="noopener noreferrer" style="{{ a_style }}">subscribe
    to the Australian BioCommons monthly newsletter</a>.
</p>
<p style="{{ p_signoff }}">Thank you,</p>
<p style="{{ p_style }}">
    The Australian BioCommons<br/><a href="https://www.biocommons.org.au" target="_blank"
                                     rel="noopener noreferrer"
                                     style="{{ a_style }}">www.biocommons.org.au</a>
</p>
